// 布局
$navbarHeight: 3.6rem;
$sidebarWidth: 18rem;
$content-width: 960px;
$wide-content-width: 1280px;
$home-page-width: 960px;

.vp-blog-hero {
  height: 0px !important;
}

.vp-blog-main {
  max-width: 960px !important;
}

.aplayer-lrc {
  display: none !important;
}
